.productos {
  height: calc(100vh - 300px);
  padding-bottom: 60px;
}

.detalles {
  height: calc(100vh - 300px);
  padding-bottom: 60px;
}

.listas {
  height: calc(100vh - 300px);
  padding-bottom: 30px;
}

.direcciones {
  height: calc(100vh - 300px);
  padding-bottom: 30px;
}

.reclamos {
  height: calc(100vh - 300px);
  padding-bottom: 30px;
}
